body {
    display: flex;
    font-family: 'edosz', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

#saida {
    font-weight: bold;
    font-size: xx-large;
}

#mapa {
    /* background-color: white; */
    /* background-image: url(textures/cobbled_deepslate.png); */
    margin-top: 165px;
    padding: 10px;
}

#divLogPontuacao {
    /* padding: 10px; */
    margin-top: 170px;
    margin-left: 20px;
    text-align: center;
}

#logPontuacao {
    width: 310px;
    background-color: black;
    color: rgb(209, 209, 209);
    border: solid 2px rgb(171, 171, 171);
    margin-top: 10px;
    font-family: 'edosz';
    font-size: medium;
}

.sala {

    background-image: url(textures/background.png);
    background-size: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 4px; */
    /* box-shadow: inset -7px 25px 5px rgba(0, 0, 0, 0.5); */
}

.sala img {
    width: 80%;
    height: auto;
    /* object-fit: contain; */
    z-index: 10;
}

.sala p {
    font-size: 10px;
}

/* #sala #poco {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 200px;
} */

#divPontuacao p {
    margin: 0px 10px;
}

#interfaceBack {
    width: 800px;
    position: absolute;
}

#interface {
    height: 160px;
}

.vitoriasPlacar {
    position: absolute;
    padding-left: 20px;
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    width: 90px;
}

.mortesPlacar {
    position: absolute;
    padding-left: 280px;
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    width: 90px;

}

.mortesPlacar h1,
.vitoriasPlacar h1 {
    font-size: 70px;
    text-align: center;
}

#municao {
    font-family: 'bebas', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;

}

.municaoPlacar {
    position: absolute;
    padding-left: 382px;
    padding-top: 18px;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 17px;
    width: 70px;
}

#flechasNumero {
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 70px;
    margin: 0;
}

#informacoes {
    position: absolute;
    width: 300px;
    height: auto;
    padding-left: 480px;
    padding-top: 24px;
}

#informacoes p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#divPontuacao {
    position: absolute;
    padding-left: 550px;
    padding-top: 120px;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 17px;
    width: 70px;
    color: black;
}

#pontuacao {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#playPause {
    display: inline-block;
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(textures/interface/pauseButton.png);
    /* background-image: url(textures/interface/playButton.png); */
    background-size: cover;
    text-decoration: none;
    border: none;
    margin-left: 635px;
    margin-top: -5px;
    /* animation: pulse 1.5s infinite; */
}

#playPause:hover,
#atualizarMundo:hover {
    transform: scale(1.05);
}

#atualizarMundo {
    display: inline-block;
    position: absolute;
    width: 90px;
    height: 90px;
    background-image: url(textures/interface/atualizarMundo.png);
    /* background-image: url(textures/interface/playButton.png); */
    background-size: cover;
    text-decoration: none;
    border: none;
    margin-left: 650px;
    margin-top: 100px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#velocidade {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url(textures/interface/relogio.png);
    background-size: cover;
    border: none;
    margin-left: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#velocidadeLink {
    text-decoration: none;
    font-family: 'bebas';
    color: black;
    font-size: 50px;
    padding-top: 40px;
    text-align: center;
}

/* #agente {
    position: relative;
    width: 80%;
    height: auto;
    object-fit: contain;
    z-index: 1000;
} */

#fedor,
#brisa {
    /* position: absolute; */
    width: 60px;
    position: absolute;
    z-index: 5;
    /* object-fit: cover; */
}