body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'edosz';
    src: url('fonts/edosz.ttf') format('truetype');
    font-weight: normal;
    /* ou bold, conforme necessário */
    font-style: normal;
    /* ou italic, conforme necessário */
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/BebasNeue-Regular.otf') format('truetype');
    font-weight: normal;
    /* ou bold, conforme necessário */
    font-style: normal;
    /* ou italic, conforme necessário */
}


#saida {
    font-weight: bold;
    font-size: xx-large;
}

#mapa {
    background-color: rgb(0, 0, 0);
    background-image: url(textures/cobbled_deepslate.png);
    padding: 10px;
}

.sala {

    background-image: url(textures/deepslate.png);
    background-size: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    /* box-shadow: inset -7px 25px 5px rgba(0, 0, 0, 0.5); */
}

.sala img {
    width: 90%;
    height: 90%;
}

.sala p {
    font-size: 10px;
}

#sala #poco {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 200px;
}

#divPontuacao p {
    margin: 0px 10px;
}

#interfaceBack {
    width: 800px;
    position: absolute;
}

#interface {
    height: 160px;
    font-family: 'edosz', sans-serif;
}

.vitoriasPlacar {
    position: absolute;
    padding-left: 20px;
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    width: 90px;
}

.mortesPlacar {
    position: absolute;
    padding-left: 280px;
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    width: 90px;

}

.mortesPlacar h1,
.vitoriasPlacar h1 {
    font-size: 70px;
    text-align: center;
}

#municao {
    font-family: 'bebas', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;

}

.municaoPlacar {
    position: absolute;
    padding-left: 382px;
    padding-top: 18px;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 17px;
    width: 70px;
}

#flechasNumero {
    /* top: 3vh;
    left: 4vw; */
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 70px;
    margin: 0;
}

#informacoes {
    position: absolute;
    width: 300px;
    height: auto;
    padding-left: 480px;
    padding-top: 24px;
}

#informacoes p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#divPontuacao {
    position: absolute;
    padding-left: 550px;
    padding-top: 120px;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    font-size: 17px;
    width: 70px;
    color: black;
}

#pontuacao {
    font-size: 30px;
    margin: 0;
    padding: 0;
}